In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('Dataset.csv')
dataset.head()

                  TableName  FinalCategory
0  AR_CUSTOMER ARDivisionNo             14
1    AR_CUSTOMER CustomerNo             14
2  AR_CUSTOMER CustomerName             14
3  AR_CUSTOMER AddressLine1             14
4  AR_CUSTOMER AddressLine2             14

In [3]:
dataset.shape

(194999, 2)

In [4]:
data = dataset.iloc[:20000,:]
print("Shape of new dataframes - {}".format(data.shape))

Shape of new dataframes - (20000, 2)

In [5]:
data.shape

(20000, 2)

In [6]:
data.isnull().sum()

TableName        0
FinalCategory    0
dtype: int64

In [7]:
data.describe()

       FinalCategory
count   20000.000000
mean       37.734900
std        15.448639
min         2.000000
25%        21.000000
50%        39.000000
75%        50.000000
max        63.000000

In [8]:
y = data.iloc[:, -1].values #dependent variable
print(y)

[14 14 14 ...  2  2  2]

In [9]:
data.dtypes

TableName        object
FinalCategory     int64
dtype: object

In [10]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, LabelBinarizer, MinMaxScaler, StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.feature_selection import SelectKBest

In [11]:
from sklearn.svm import LinearSVC

In [12]:
cv = CountVectorizer(ngram_range=(1,4),stop_words='english',analyzer='char_wb')
X = cv.fit_transform(data['TableName'])

In [13]:
X

<20000x12078 sparse matrix of type '<class 'numpy.int64'>'
	with 2164945 stored elements in Compressed Sparse Row format>

In [15]:
import pickle
pickle.dump(cv, open('transform.pkl', 'wb'))

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(X, y,test_size = 0.01, random_state=2)

In [18]:
from sklearn.svm import SVC
clf = SVC(kernel="linear", C=0.75, random_state = 0)
train = clf.fit(x_train,y_train)
train

print("\n ******************Saving model*************")

#saving model

content = train
import pickle
filename = 'trained_model.pkl'
outfile = open(filename,'wb')
pickle.dump(content,outfile)
outfile.close()

 ******************Saving model*************

In [19]:
x_test.shape

(200, 12078)

In [20]:
print(train)

SVC(C=0.75, kernel='linear', random_state=0)

In [21]:
train.predict(x_test)

array([51, 51, 29, 48, 48, 15, 63, 51, 49, 52, 38, 14, 10, 21, 49, 38, 52,
       49, 38, 52, 21, 52, 14, 37, 38, 50, 21, 21, 52, 37, 39, 10, 49,  2,
       14, 21, 55,  2,  2, 38, 50, 21,  2, 21, 52, 14, 14, 52, 21, 21, 48,
       51, 21, 14, 49, 55, 15, 51, 21, 52, 49, 48, 10, 48, 39, 14, 50, 30,
       15,  2, 39, 21, 51, 37, 15, 48, 46, 50, 49, 14, 49, 39,  2, 46, 38,
       37, 38, 38, 14, 14, 39, 39, 10, 14, 46, 39, 21, 14, 63, 14, 39, 49,
       37, 49, 49, 51, 48, 37, 15, 49, 10, 52, 46, 49, 39, 49, 14, 37, 21,
       15, 50, 39, 39, 15, 14, 14, 50, 39, 14, 14, 14, 51, 14, 49, 48, 55,
       50, 38,  2, 39, 38, 38, 37, 38, 61, 38, 14, 50, 39, 39, 15, 38, 38,
       39, 38, 39, 14, 48, 39, 51, 55, 21, 51, 14, 49, 14, 52, 39, 39, 48,
       39, 50, 49, 21, 50, 51, 52, 49, 38, 49, 21, 21, 51, 52, 21, 14, 21,
       39, 55, 39,  2, 49, 49, 21, 39, 46, 15, 14, 48, 21], dtype=int64)

In [22]:
train.score(x_test, y_test)

1.0